.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}

.message__user {
  margin-left: auto;
  color: white;
  text-align: right;
}

.message__userCard {
  background-color: #0b81fd !important;
  text-align: right;
}

.message__guestCard {
  background-color: #e9e9eb !important;
}
